*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.item{
    border: 5px double rgb(54, 54, 54);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 6rem 0;
    margin: 40px auto;
    i{
        font-size: 40px;
        color: rgb(54, 54, 54);
        cursor: pointer;
    }
}

img{
    width: 150px;
}