*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trending {

    background-color: #fafbfc;
    padding-top: 100px !important;
    .trend-text {
        margin-bottom: 80px !important;
        text-align: center!important;
        font-size: 48px;
        color: #253D4E;
        font-weight: 700;
        line-height: 1.2;

    }

}
.products-grid {

    .product-cart {

        margin-bottom: 2rem;
        padding: 1rem;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 15px;
        position: relative;
        transition: 0.2s;
        overflow: hidden;
        &:hover {
            box-shadow: 5px 5px 15px #00000017;
            border: 1px solid #BCE3C9;
            .por-action {
                visibility: visible !important;
                opacity: 1 !important;
            }
            .image-back {
                visibility: visible !important;
                width: 100% !important;
                transform: scale(1.2);

            }
            .image-front {
                visibility: hidden !important;
                width: 0 !important;
                transform: scale(1.1);
            }
        }
        .pro-top {
            .image-back {
                visibility: hidden;
                width: 0;
            }
            .image-front {
                visibility: visible;
            }

            img {
                transition: transform 3s;
                width: 100%;
            }
        }
        .pro-bottom {
            position: relative;
            .pro-cat {
                a {
                    color: #adadad;
                    font-size: 12px;
                }
            }
            .pro-name {
                font-size: 16px;
                font-weight: 700;
                a {
                    color: #253D4E;
                    transition: 0.3s;
                    line-height: 1.2;
                    &:hover {
                        color: #3BB77E;
                    }
                };
            }
            .product-rate {
                i {
                    color: #FDC040;
                    font-size: 13px;
                    margin: -2px;
                }
                span {
                    font-size: 16px;
                    color: #B6B6B6 !important;
                    margin-left: 5px !important;

                }
            }
            .pro-by {
                margin-bottom: 20px;
                color: #6c757d!important;
                a {
                    color: #3BB77E;
                    transition: 0.3s;
                    line-height: 1.2;
                    &:hover {
                        color: #FDC040;

                    }
                }
            }
            .pro-price {
                margin-bottom: 4px;
                padding-top: 5px;

                .new-price {
                    font-size: 18px;
                    font-weight: bold;
                    color: #3BB77E;
                }
                .old-price {
                    font-size: 14px;
                    color: #adadad;
                    margin: 6px 0 0 7px;
                    text-decoration: line-through;
                    font-size: 14px;
                    font-weight: bold;
                }

            }
            .add-cart {
                position: absolute;
                right: 10px;
                bottom: 0;
                cursor: pointer;
                background-color: #DEF9EC;
                font-size: 14px;
                font-weight: 700;
                padding: 6px 20px;
                border-radius: 4px;
                transition: 0.3s;

                &:hover {
                    background-color: #3BB77E;
                    transform: translateY(-3px);
                    box-shadow: 5px 5px 15px #253d4e24;
                }
                &:hover a {
                    color: #fff;
                }
                &:hover i {
                    color: #fff;
                }
                a {
                    color: #3BB77E;
                    transition: 0.3s;

                }
                i {
                    color: #3BB77E;
                    transition: 0.3s;
                }
            }
        }
        .pro-badges {
            position: absolute;
            left: 0;
            top: 3px;
            .badges-hot-text {
                background-color: #f74b81;
                font-size: 12px;
                line-height: 1;
                border-radius: 15px 0 20px 0;
                color: #fff;
                padding: 9px 20px 10px;
            }
            .badges-sale-text {
                background-color: #67bcee;
                font-size: 12px;
                line-height: 1;
                border-radius: 15px 0 20px 0;
                color: #fff;
                padding: 9px 20px 10px;
            }
            .badges-new-text {
                background-color: #3BB77E;
                font-size: 12px;
                line-height: 1;
                border-radius: 15px 0 20px 0;
                color: #fff;
                padding: 9px 20px 10px;
            }
            .badges-best-text {
                background-color: #f59758;
                font-size: 12px;
                line-height: 1;
                border-radius: 15px 0 20px 0;
                color: #fff;
                padding: 9px 20px 10px;
            }
        }
        .por-action {
            position: absolute;
            border: 1px solid #29A56C;
            border-radius: 5px;
            width: auto;
            background-color: #fff;
            right: 50%;
            top: 25%;
            transform: translateX(50%);
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
            cursor: pointer;
            i {
                position: relative;
                padding: 8px;
                &:not(:last-child) {
                    border-right: solid 1px #29A56C;
                }
                font-size: 1rem;
                color: #29A56C;
                cursor: pointer;

                &:nth-child(1):after {
                    content: 'Add to wishlist';
                    position: absolute;
                    top: -70%;
                    right: -150%;
                    padding: 4px 2px;
                    font-size: 14px;
                    background: #29A56C;
                    color: #fff;
                    border-radius: 5px;
                    width: 294%;
                    visibility: hidden;
                    transition: 0.2s;
                    opacity: 0;
                    font-family: none !important;
                }

                &:nth-child(2):after {
                    content: 'Compare';
                    position: absolute;
                    top: -70%;
                    right: -54%;
                    padding: 4px 2px;
                    font-size: 14px;
                    background: #29A56C;
                    color: #fff;
                    border-radius: 5px;
                    width: 200%;
                    visibility: hidden;
                    transition: 0.2s;
                    opacity: 0;
                    font-family: none !important;
                    font-weight: 300;
                }
                &:nth-child(3):after {
                    content: 'Quick Wiev';
                    position: absolute;
                    top: -70%;
                    right: -70%;
                    padding: 4px 2px;
                    font-size: 14px;
                    background: #29A56C;
                    color: #fff;
                    border-radius: 5px;
                    width: 230%;
                    visibility: hidden;
                    transition: 0.2s;
                    opacity: 0;
                    font-family: none !important;
                }
                &:hover {
                    color: #FDC040;
                    &:nth-child(1):after {
                        visibility: visible !important;
                        opacity: 1;
                        top: -84%;
                    }

                    &:nth-child(2):after {
                        visibility: visible !important;
                        opacity: 1;
                        top: -84%;
                    }
                    &:nth-child(3):after {
                        visibility: visible !important;
                        opacity: 1;
                        top: -84%;
                    }

                }

            }
        }

    }
}