* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trending {
  background-color: #fafbfc;
  padding-top: 100px !important;
}

.trending .trend-text {
  margin-bottom: 80px !important;
  text-align: center !important;
  font-size: 48px;
  color: #253D4E;
  font-weight: 700;
  line-height: 1.2;
}

.products-grid .product-cart {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 15px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.products-grid .product-cart:hover {
  -webkit-box-shadow: 5px 5px 15px #00000017;
          box-shadow: 5px 5px 15px #00000017;
  border: 1px solid #BCE3C9;
}

.products-grid .product-cart:hover .por-action {
  visibility: visible !important;
  opacity: 1 !important;
}

.products-grid .product-cart:hover .image-back {
  visibility: visible !important;
  width: 100% !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products-grid .product-cart:hover .image-front {
  visibility: hidden !important;
  width: 0 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products-grid .product-cart .pro-top .image-back {
  visibility: hidden;
  width: 0;
}

.products-grid .product-cart .pro-top .image-front {
  visibility: visible;
}

.products-grid .product-cart .pro-top img {
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  width: 100%;
}

.products-grid .product-cart .pro-bottom {
  position: relative;
}

.products-grid .product-cart .pro-bottom .pro-cat a {
  color: #adadad;
  font-size: 12px;
}

.products-grid .product-cart .pro-bottom .pro-name {
  font-size: 16px;
  font-weight: 700;
}

.products-grid .product-cart .pro-bottom .pro-name a {
  color: #253D4E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1.2;
}

.products-grid .product-cart .pro-bottom .pro-name a:hover {
  color: #3BB77E;
}

.products-grid .product-cart .pro-bottom .product-rate i {
  color: #FDC040;
  font-size: 13px;
  margin: -2px;
}

.products-grid .product-cart .pro-bottom .product-rate span {
  font-size: 16px;
  color: #B6B6B6 !important;
  margin-left: 5px !important;
}

.products-grid .product-cart .pro-bottom .pro-by {
  margin-bottom: 20px;
  color: #6c757d !important;
}

.products-grid .product-cart .pro-bottom .pro-by a {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1.2;
}

.products-grid .product-cart .pro-bottom .pro-by a:hover {
  color: #FDC040;
}

.products-grid .product-cart .pro-bottom .pro-price {
  margin-bottom: 4px;
  padding-top: 5px;
}

.products-grid .product-cart .pro-bottom .pro-price .new-price {
  font-size: 18px;
  font-weight: bold;
  color: #3BB77E;
}

.products-grid .product-cart .pro-bottom .pro-price .old-price {
  font-size: 14px;
  color: #adadad;
  margin: 6px 0 0 7px;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
}

.products-grid .product-cart .pro-bottom .add-cart {
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  background-color: #DEF9EC;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 20px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-grid .product-cart .pro-bottom .add-cart:hover {
  background-color: #3BB77E;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 5px 5px 15px #253d4e24;
          box-shadow: 5px 5px 15px #253d4e24;
}

.products-grid .product-cart .pro-bottom .add-cart:hover a {
  color: #fff;
}

.products-grid .product-cart .pro-bottom .add-cart:hover i {
  color: #fff;
}

.products-grid .product-cart .pro-bottom .add-cart a {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-grid .product-cart .pro-bottom .add-cart i {
  color: #3BB77E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-grid .product-cart .pro-badges {
  position: absolute;
  left: 0;
  top: 3px;
}

.products-grid .product-cart .pro-badges .badges-hot-text {
  background-color: #f74b81;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px;
}

.products-grid .product-cart .pro-badges .badges-sale-text {
  background-color: #67bcee;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px;
}

.products-grid .product-cart .pro-badges .badges-new-text {
  background-color: #3BB77E;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px;
}

.products-grid .product-cart .pro-badges .badges-best-text {
  background-color: #f59758;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px;
}

.products-grid .product-cart .por-action {
  position: absolute;
  border: 1px solid #29A56C;
  border-radius: 5px;
  width: auto;
  background-color: #fff;
  right: 50%;
  top: 25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.products-grid .product-cart .por-action i {
  position: relative;
  padding: 8px;
  font-size: 1rem;
  color: #29A56C;
  cursor: pointer;
}

.products-grid .product-cart .por-action i:not(:last-child) {
  border-right: solid 1px #29A56C;
}

.products-grid .product-cart .por-action i:nth-child(1):after {
  content: 'Add to wishlist';
  position: absolute;
  top: -70%;
  right: -150%;
  padding: 4px 2px;
  font-size: 14px;
  background: #29A56C;
  color: #fff;
  border-radius: 5px;
  width: 294%;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  font-family: none !important;
}

.products-grid .product-cart .por-action i:nth-child(2):after {
  content: 'Compare';
  position: absolute;
  top: -70%;
  right: -54%;
  padding: 4px 2px;
  font-size: 14px;
  background: #29A56C;
  color: #fff;
  border-radius: 5px;
  width: 200%;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  font-family: none !important;
  font-weight: 300;
}

.products-grid .product-cart .por-action i:nth-child(3):after {
  content: 'Quick Wiev';
  position: absolute;
  top: -70%;
  right: -70%;
  padding: 4px 2px;
  font-size: 14px;
  background: #29A56C;
  color: #fff;
  border-radius: 5px;
  width: 230%;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  font-family: none !important;
}

.products-grid .product-cart .por-action i:hover {
  color: #FDC040;
}

.products-grid .product-cart .por-action i:hover:nth-child(1):after {
  visibility: visible !important;
  opacity: 1;
  top: -84%;
}

.products-grid .product-cart .por-action i:hover:nth-child(2):after {
  visibility: visible !important;
  opacity: 1;
  top: -84%;
}

.products-grid .product-cart .por-action i:hover:nth-child(3):after {
  visibility: visible !important;
  opacity: 1;
  top: -84%;
}
/*# sourceMappingURL=style.css.map */